* {
	font-size: 20px;
	font-family: Arial;
	font-weight: lighter;
}

table{
	border-collapse: collapse;
	user-select: none;
}

td{
	cursor: default; 
	width: 2em;
	height: 2em;
	padding: 3px;
	border: 1px #000 solid; 
}

.save-field {
	font-size: 15px;
	margin-top: 1.3em;
}